<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--header-->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand"  href='/admin/index'>Assigment</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href='/admin/index'>Book</a></li>
            <li><a href='/admin/rack'>Rack</a></li>
            <li><a href='/admin/logout'>Logout</a></li>
        </ul>
    </div>
</nav>
<!--main body-->
<div class="container">
    <button class="btn btn-default" style="float: right" data-toggle="modal" onclick="add_rack()">Add Rack</button>
    <div class="" style="box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 1px 10px rgba(0,0,0,0.24); border-radius: 10px; margin-top: 50px">
        <table class="table table-bordered">
            <tr>
                <th>No</th>
                <th>Title</th>
            </tr>
            {% for rack in racks %}
            <tr>
                <td>{{ rack.id }}</td>
                <td>{{ rack.name }}</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

</body>


<script>
    function add_rack() {
        window.location.href="/admin/add_rack"

    }
</script>


</html>